@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}

ul {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  margin-top: 2rem;
}

li {
  margin: 1rem 0;
  cursor: pointer;
}

.desc {
  margin-top: 0.5rem;
  padding: 8px;
}

.todo-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.del {
  color: red;
  font-size: 600;
  border: 0.5px solid red;
}
